nvim/after/
nvim/lua/
nvim/pack/
nvim/spell/
nvim/syntax/
nvim/ultisnips/
automatic_backups/
configstore/
elpa/
var/
etc/
early-init-do-not-edit/
*.backup
*.backup/
*.backup*
*.backup*/
*.test
*.test/
*.test*
*.test*/
\#*#
.lsp-session-v1
.extension/
auto-save-list/
projectile-bookmarks.eld
transient/
places
backups/
amx-items
.zsh_sessions/
.zsh_history
.zprofile
.zshrc
.p10k.zsh
cache/
emacsbackups/