nvim/
automatic_backups/
configstore/
elpa/
var/
etc/
early-init-do-not-edit/
*.backup
*.backup/
*.test
*.test/
\#*#
.lsp-session-v1
.extension/
auto-save-list/
projectile-bookmarks.eld
transient/
places
backups/
amx-items
.zsh_history
.zprofile
.zshrc
.p10k.zsh
cache/